.Questions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.Questions h1 {
  padding: 0;
  margin: 0;
  color: #063c5b;

  font-weight: lighter;
}
.Questions input {
  width: calc(100% - 2rem);
  height: 1rem;
  padding: 1rem;
  border-radius: 5px;
  outline: 0;
  border: 0;
  box-shadow: 0 0 20px #063c5b;
  font-size: 17px;
}
.Questions input:focus {
  transition: box-shadow 0.4s ease-in-out;
  box-shadow: 0 0 30px #129ae9;
}

@media screen and (max-width: 800px) {
  .Questions h1 {
    font-size: 20px;
  }
}
