.widget {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  gap: 1rem;
}
.widget button {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 1rem;
  border: 0;
  background-color: #1978af;
  border-radius: 5px;
  box-shadow: 0 0 20px #063c5b;
  font-size: 17px;
  color: #fff;
}
.widget button:first-of-type {
  background-color: #55c39e;
  color: #fff;
}
.widget button:last-of-type {
  background-color: #063c5b;
  color: #fff;
}
.widget button:hover {
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out,
    width 0.4s ease-in-out, font-size 0.4s ease-in-out;
  background: #fff;
  box-shadow: 0 0 20px #70e6ec;
  color: #063c5b;
  padding: 0.7rem 1.2rem;
  font-size: 19px;
}
